{% extends "base.html" %}
{% load static %}

{% block content %}

<main role="main">

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12">

                <h2>{{product.name}}</h2>

                <img src="{{product.image.url }}" width="300">

                <p>{{product.description}}</p>
                <form action="{% url 'cart:cart_add' product.merchandise_id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
                </form>
            </div>
        </div>
        <hr>
        {% if reviews %}
        {% for review in reviews%}
            {{review.stars_rating }} <span>{{review.creator}}</span>
            <p>{{review.text}}</p>
            {% endfor%}
            {% else %}
            <h6>Нет ни одного отзыва будте первым!</h6>
            {% endif %}
            <hr>
            {% if can_review_add %}
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">

                        <h4>Оставьте отзыв:</h4>
                        <h5>{{err.info}}</h5>

                        <form action="{{product.get_absolute_url}}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name">Имя</label>
                                <input type="text" class="form-control" id="name" aria-describedby="nameHelp"
                                       placeholder="Представтесь" name="name" data-cip-id="name" required=""
                                       value="{{err.creator}}">
                            </div>
                            <div class="form-group">
                                <label for="content">Содержание</label>
                                <textarea class="form-control" id="content" placeholder="Содержание"
                                          name="description" required="">{{err.text}}</textarea>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="mark" id="mark1" value="1">
                                <label class="form-check-label" for="mark1">
                                    1
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="mark" id="mark2" value="2">
                                <label class="form-check-label" for="mark2">
                                    2
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="mark" id="mark3" value="3">
                                <label class="form-check-label" for="mark3">
                                    3
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="mark" id="mark4" value="4">
                                <label class="form-check-label" for="mark4">
                                    4
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="mark" id="mark5" value="5">
                                <label class="form-check-label" for="mark5">
                                    5
                                </label>
                            </div>

                            <button type="submit" class="btn btn-primary">Оставить</button>
                        </form>
                    </div>
                </div>
        {% endif %}
    </div>

</main>

{% endblock %}